@use '../../styles/colors.scss';

.container {
    width: 400px;
    height: 100px;
}
.id {
    background-color: rgba(#4E24F2, 40%);
    width: 100px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.number {
    font-size: 1.5rem;
    font-weight: bold;
}
.user {
    background-color: rgba(#4E24F2, 20%);
    width: 265px;
    height: 76px;
    display: flex;
    padding-left: 15px;
    align-items: center;
}