@use '../../styles/colors.scss';

.wrapper{
    background-color: colors.$primary_main;
    width: 400px;
    height: 100px;
}
.id {
    background-color: rgba(colors.$background_paper, 80%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.number {
    font-size: 2rem;
    font-weight: bold;
}
.user {
    background-color: rgba(colors.$background_paper, 90%);
    width: 300px;
    display: flex;
    padding-left: 15px;
    align-items: center;
}