.wrapper {
    padding-top: 100px;
}
.container {
    padding : 0px !important;
}
.gridContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: bold;
    font-size: 4rem;
}   
.collectors {
    display: -webkit-inline-box;
    padding-top :15px;
}