@use "../../styles/colors";

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.name {
    font-size: 1.3rem;
    font-weight: bolder;
    color: colors.$text_secondary;
}
.info {
    font-size: 1.15rem;
    font-weight: bold;
    color: colors.$success_main;
}