@use "../../styles/colors";

.product-tabs {
    display: flex;
    justify-content: center;
}
.tab-details {
    display: flex;
    align-items: center;

}
.tab-bids {
    display: flex;
    justify-content: center;
}
.table-row-0 {
    background-color: rgba(colors.$primary_main , 5%);
}
.table-row-1 {
    background-color: rgba(colors.$primary_main , 15%);
}