@use "../../styles/colors";

.wrapper {  
  height: 100px;
  display: flex;
  align-items: center;
  background-color: colors.$background_paper;
}
.container {
  display: flex !important;
  align-items: center-end;
  justify-content: space-evenly;
}
.searchBar {
  display: flex;
  align-items: center;
  padding-right: 50px;
}