@use "../../styles/colors";

.wrapper {
    padding: 10px;
}
.container {
    display: flex;
    align-items: center-end;
    justify-content: space-evenly;
}
.logoWrapper {
    justify-content: 'center';
    display: contents;
}