@use "../../styles/colors";

.wrapper {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: colors.$background_paper;
    margin-top: 150px;
}
.container {
    display: contents;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.logoWrapper {
    display: contents;
    justify-content: 'center';
}
.text {
    padding-left : 575px !important;
}