.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: inherit;
    height: 100%;
}

.badge {
    position: absolute;
    padding-left: 40px;
    padding-top: 30px;
    width: 70px;
}