.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: inherit;
    height: 100%;
}

.badge {
    position: absolute;
    padding-left: 90px;
    padding-top: 50px;
    width: 130px;
}