.wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

.image {
    border-radius: 50%;
    width: inherit;
    height: 100%;
}

.badge {
    position: absolute;
    padding-left: 275px;
    padding-top: 300px;
}