@use "../../styles/colors.scss";
.wrapper {
    display: flex;
    align-items: center;
    background-color: colors.$primary_main;
    margin: 75px;
    
}
.container {
    border-radius: 25px;
    width: max-content;
    margin-left: 50px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding-block: 15px;
    padding: 10px
}
.content {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    align-self: center;
}
.title {
    font-size: 3rem;
    font-weight: 900;
}
.description {
    font-size: 1.5rem;
    width: 800px;
    text-align: center;
}
.button {
    font-size: x-large;
    background-color: white !important;
    border-radius: 50px;
}