@use "../../styles/colors.scss";

.container {
    background-color: colors.$primary_main;
    border-radius: 25px;
    width: max-content;
    margin-left: 50px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding-block: 15px;
}
.content {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
}
.title {
    font-size: 3rem;
    font-weight: bolder;
}
.description {
    font-size: 1.5rem;
}
.button {
    font-size: x-large;
    background-color: white !important;
    border-radius: 50px;
}